# nodejs specific #
node_modules/

# css and their map files #
public/css/*.css
public/css/*.css.map

# ssl certificates #
ssl/server.crt
ssl/server.key

# typo files #
typos/

# code files #
public/programs/*.raw.txt
public/programs/*.web.html

# captcha images # 
public/captcha-img/*