# NodeJS specific #
node_modules/

# css and their map files #
public/css/*.css
public/css/*.css.map

# ssl certificates #
ssl/server.crt
ssl/server.key

# Typo files
typos/*

# Code files
public/programs/*.raw.txt
public/programs/*.web.html