# nodejs specific #
node_modules/

# css and their map files #
public/css/*.css
public/css/*.css.map

# typo files #
typos/

# code files #
projects/*/*/assets/code/*.raw.txt
projects/*/*/assets/code/*.web.html

# captcha images # 
public/captcha-img/*