doctype html5
head
  include ./template/head.pug
  link(rel="stylesheet", href="/css/404.css")

header
  include ./template/header.pug

main 
  h1 
    span 404 
    | NOT FOUND


footer
  include ./template/footer.pug