doctype html5
head
  include ./template/head.pug
  link(rel="stylesheet", href="/css/about.css")

header
  include ./template/header.pug



main 
    h1 ABOUT 


footer
  include ./template/footer.pug