doctype html5
head
  include ./template/head.pug
  link(rel="stylesheet", href="/css/donations.css")
  title Donations - ramrath.me

header
  include ./template/header.pug

main 
  h1 DONATIONS


footer
  include ./template/footer.pug