doctype html5
head
  include ./template/head.pug
  link(rel="stylesheet", href="/css/donations.css")
  title Donations - ramrath.me

header
  include ./template/header.pug

main 
  h1 DONATIONS

  h2 Bitcoin
  a(href="#") * BTC - Adress

  h2 Monero 
  a(href="#") * XMR - Adress

  h2 buymeacoffee
  a(href="https://www.buymeacoffee.com/ramrath.me" target="_blank" rel="noreferrer noopener") buymeacoffee.com/ramrath.me


footer
  include ./template/footer.pug