mixin crypto(name, iconPath, qrPath, address)
    section.crypto
        .details
            h2.name= name

            label(for="qrCode" + name).qrCodeCheckboxLabel
                .icon
            

        span.address= address

        input(type="checkbox" id= "qrCode" + name).qrCodeCheckbox
        .qrCode
            img(src= qrPath)



doctype html5
head
    include ./template/head.pug
    link(rel="stylesheet", href="/css/donations.css")
    title= "Donations - ramrath.me"

header
    include ./template/header.pug

main
    h1= "DONATIONS"

    +crypto("Bitcoin", "/img/icon/bitcoin.png", "/img/bitcoinAddress.png", "bc1q4nyyea4tuutqv3jlhedznrv2u6yqclruul525s")

    +crypto("Monero", "/img/icon/monero.png", "/img/moneroAddress.png", "44fYXsrmED7LJuhMh9BJcmDGon7a9knEr4Q5vrTdxnB6UZfzbzDzbNYHknVzPgXiTC6PWetSvzBWRgKhxUMLJ4nDC3pM1y3")

    +crypto("Etherium", "/img/icon/etherium.png", "/img/etheriumAddress.png", "0x032D8E008e40641792E9d81ca1f04B4a0Bf7bE09")

    section
        .details
            h2 PayPal
        a(href="#" target="_blank" rel="noreferrer noopener").buymeacoffee= "paypal"


footer
    include ./template/footer.pug