doctype html5
head
  include ./template/head.pug
  link(rel="stylesheet", href="/css/home.css")
  title ramrath.me

header
  include ./template/header.pug

main 
  h1 HOME


footer
  include ./template/footer.pug