doctype html5
head
	include ./template/head.pug
	link(rel="stylesheet", href="/css/typo.css")

	title= "typo - ramrath.me"


header
	include ./template/header.pug


main


footer
	include ./template/footer.pug