$color-black-dark: #1E1E1E;   /* main background color & header current color */
$color-black-medium: #252526; /* header background */
$color-black-light: #2A2D2E;  /* hover color */

$color-white-dark: #949494;   /* dark text color */
$color-white-light: #D4D4D4;  /* normal text color */

$color-blue-dark: #1a52a0;
$color-blue-medium: #569CD6;  /* Project part of h1 in posts */
$color-blue-light: #9CDCFE;   /* h2 title of Project overview */

$color-orange: #CE9178;       /* Divider Part of h1 in posts */

$color-green: #4EC9B0;        /* Post-name part of h1 in posts */




main {
    color: $color-white-light;
    text-align: center;

    h1 {
        font-size: 3em;
        margin-top: 1.5em;
        margin-bottom: 1em;
        line-height: 1em;

        span {
            color: $color-blue-dark;
        }
    }
}