$color-black-dark: #1E1E1E;   /* main background color & header current color */
$color-black-medium: #252526; /* header background */
$color-black-light: #2A2D2E;  /* hover color */

$color-white-dark: #949494;   /* dark text color */
$color-white-light: #D4D4D4;  /* normal text color */

$color-blue-dark: #1a52a0;
$color-blue-medium: #569CD6;  /* Project part of h1 in posts */
$color-blue-light: #9CDCFE;   /* h2 title of Project overview */

$color-orange: #CE9178;       /* Divider Part of h1 in posts */

$color-green: #4EC9B0;        /* Post-name part of h1 in posts */

main {
    div.captcha-wrapper {
        background-color: $color-black-medium;
        padding: 2em;
        margin-top: 2em;

        h1 {
            text-align: center;
            font-size: 1.75em;
            line-height: 1.5em;
        }

        section.captcha-image {
            margin: 2em 0;
            display: flex;

            img {
                width: 20em;
                height: auto;
                margin: 0 auto;
            }
        }

        section.captcha-interface {

            h2 {
                text-align: center;
            }

            form {
                div.time-wrapper {
                    display: flex;
                    margin-bottom: .75em;

                    div.time {
                        margin: 0 auto;

                        span.divider {
                            font-size: 2em;
                            font-weight: bold;
                        }

                        select {
                            color: $color-white-light;
                            background-color: $color-black-dark;
                            border-width: 1px;
                            border-radius: .3em;
                            border-color: $color-black-medium;
                            font-size: 1.5em;
                            text-align: center;

                            option {
                                margin: .5em;
                            }
                        }
                    }
                }

                .button-wrapper {
                    display: flex;

                    .button {
                        display: flex;

                        input, button {
                            margin: 0 auto;
                            padding: .2em .4em;
                            color: $color-white-light;
                            background-color: transparent;
                            border-width: 2px;
                            border-radius: .3em;
                            border-color: $color-blue-dark;
                            border-style: outset;
                            font-size: 1.5em;
                            text-align: center;

                            &:hover {
                                background: $color-black-dark;
                            }
                        }

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    a.button {
                        margin-left: auto;
                        margin-right: .5em;
                    }

                    div.button {
                        margin-right: auto;
                        margin-left: .5em;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 600px) {
    main {
        display: flex;

        div.captcha-wrapper {
            margin: 3em auto;
            width: 400px;
            margin-top: 4em;
            border-radius: 1em;
            border-width: 1px;
        }
    }
}

@media only screen and (min-width: 1120px) {
    main div.captcha-wrapper {
        width: 35%;
    }
}