$color-black-dark: #1E1E1E;   /* main background color & header current color */
$color-black-medium: #252526; /* header background */
$color-black-light: #2A2D2E;  /* hover color */

$color-white-dark: #949494;   /* dark text color */
$color-white-light: #D4D4D4;  /* normal text color */

$color-blue-dark: #1a52a0;
$color-blue-medium: #569CD6;  /* Project part of h1 in posts */
$color-blue-light: #9CDCFE;   /* h2 title of Project overview */

$color-orange: #CE9178;       /* Divider Part of h1 in posts */

$color-green: #4EC9B0;        /* Post-name part of h1 in posts */

main {
    width: 100%;
    display: block;
    margin: 0;

    a, span {
        div.container {
            display: inline-flex;
            width: 100%;
            margin: .75em 0;
            height: 8em;
            position: relative;
            background: $color-black-medium;

            img.icon {
                float: left;
                height: auto;
                width: 3.5em;
                margin: auto 1em;
            }


            section {
                height: auto;
                width: 100%;
                margin: auto 0;
                display: block;

                h1 {
                    font-size: 1em;
                    width: auto;
                }

                h1.name {
                    margin: auto 1em;
                }

                h1.content {
                    margin: auto 1em;
                }
            }
        }
}
}

.pgp-info {
    display: block;

    div.container {
        height: auto;

        p {
            padding: 1em 2em;
            color: $color-white-light;
        }
    }
}

.question-mark {
    width: auto;
    height: 100%;
    display: flex;
    right: 0;
    margin-right: 1em;
    float: right;

    img {
        height: 1.75em;
        margin: auto 0;
    }
}

.question-mark-pc {
    display: none;

    height: 2.687em;
    width: auto;
    position: relative;

    &:hover + .pgp-info {
        display: unset;
    }

    img {
        height: 1.75em;
        margin: auto 0;
    }
}


@media only screen and (min-width: 600px) {
    main {
        width: 90%;
        margin: auto;

        a, span {
            div.container {
                margin: .75em;
                border-radius: .5em;
                border: 1px solid $color-black-medium;

                &:hover {
                    border-color: $color-blue-dark;
                }

                section {
                    display: inline-flex;

                    h1 {
                        font-size: 2.25em;
                    }

                    h1.name {
                        float: left;
                        margin: auto .5em auto 1em;
                    }

                    h1.content {
                        right: 0;
                        text-align: right;
                        width: 100%;
                        margin: auto 1em auto .5em;
                    }
                }
            }
        }
    }
}