$color-black-dark: #1E1E1E;   /* main background color & header current color */
$color-black-medium: #252526; /* header background */
$color-black-light: #2A2D2E;  /* hover color */

$color-white-dark: #949494;   /* dark text color */
$color-white-light: #D4D4D4;  /* normal text color */

$color-blue-dark: #1a52a0;
$color-blue-medium: #569CD6;  /* Project part of h1 in posts */
$color-blue-light: #9CDCFE;   /* h2 title of Project overview */

$color-orange: #CE9178;       /* Divider Part of h1 in posts */

$color-green: #4EC9B0;        /* Post-name part of h1 in posts */

main {
    h1 {
        color: $color-white-light;
    }
    
    section {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        padding: 1rem 2rem;
        border-radius: .75rem;
        background-color: $color-black-medium;

        h2 {
            color: $color-white-light;
            font-size: 1.5rem;
        }

        a.buymeacoffee {
            margin-bottom: 2rem;
        }

        &.crypto {
            .details {
                display: flex;

                label {
                    padding: .5rem;
                    background-color: $color-black-dark;
                    border-radius: .5rem;
                    margin: auto 0 auto auto;

                    .icon {
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 1.5em;
                        height: 2em;
                        width: 2em;
                        margin: auto;
                    }

                    &.qrCodeCheckboxLabel {
                        .icon {
                            background-image: url("/img/icons/qrcode-white.png");
                        }

                        &:hover > .icon {
                            background-image: url("/img/icons/qrcode-blue.png");
                        }
                    }
                }
            }

            span.address {
                word-wrap: break-word
            }

            input {
                display: none;

                &.qrCodeCheckbox:checked + .qrCode {
                    height: 90vw;
                }
            }

            .qrCode {
                height: 0;
                transition: height 0.5s cubic-bezier(.17,.84,.44,1);

                overflow: hidden;
                width: 120%;
                margin-left: - 10%;
                display: flex;

                img {
                    margin: auto;
                    width: 90vw;
                }
            }
        }
    }
}



@media only screen and (min-width: 600px) {
    main {
        section {
            margin: 1rem 3rem;

            &.crypto {

                input.qrCodeCheckbox:checked + .qrCode {
                    height: 500px;
                }

                .qrCode {
                    margin-top: 3rem;

                    img {
                        width: 500px;
                    }
                }
            }
        }
    }
}