$color-black-dark: #1E1E1E;   /* main background color & header current color */
$color-black-medium: #252526; /* header background */
$color-black-light: #2A2D2E;  /* hover color */

$color-white-dark: #949494;   /* dark text color */
$color-white-light: #D4D4D4;  /* normal text color */

$color-blue-dark: #1a52a0;
$color-blue-medium: #569CD6;  /* Project part of h1 in posts */
$color-blue-light: #9CDCFE;   /* h2 title of Project overview */

$color-orange: #CE9178;       /* Divider Part of h1 in posts */

$color-green: #4EC9B0;        /* Post-name part of h1 in posts */

main {
    color: $color-white-light;

    section {
        &.title {
            padding: 2.5em 0;

            h1 {
                text-align: center;
                font-size: 3em;
                line-height: 1em;
            }

            h2 {
                text-align: center;
            }
        }

        &.posts .project-preview h2 {
            .projectName {
                color: $color-blue-medium;
                font-weight: bold;
            }

            .divider {
                color: $color-orange;
            };

            .postName {
                color: $color-green
            }
        }

        &.typo {
            display: flex;

            a {
                color: $color-white-dark;
                margin: auto;
                font-weight: normal;
            }
        }
    }

    hr {
        color: $color-blue-dark;
    }
}

@media only screen and (min-width: 600px) {
    main {
        section.title {
            padding: 6em 0;
        }

        hr {
            display: none;
        }
    }
}