$color-black-dark: #1E1E1E;   /* main background color & header current color */
$color-black-medium: #252526; /* header background */
$color-black-light: #2A2D2E;  /* hover color */

$color-white-dark: #949494;   /* dark text color */
$color-white-light: #D4D4D4;  /* normal text color */

$color-blue-dark: #1a52a0;
$color-blue-medium: #569CD6;  /* Project part of h1 in posts */
$color-blue-light: #9CDCFE;   /* h2 title of Project overview */

$color-orange: #CE9178;       /* Divider Part of h1 in posts */

$color-green: #4EC9B0;        /* Post-name part of h1 in posts */



$buttons-animation: width .3s ease-out .2s;



main {
    position: relative;

    .post-details {
        padding: 1em;

        h1 {
            padding: 0;
            margin: 0;
            line-height: 1.25em;

            .project a {
                color: $color-blue-medium;
                font-weight: bold;
            }
            .blog {
                color: $color-green;
            }
        }

        .lower-details {
            display: flex;

            label.workInProgress {
                margin: 0 0 0 auto;
                padding: 0 .2rem;
                color: $color-blue-dark;
                border-radius: .85rem;
                border-width: 2px;
                border-color: $color-blue-dark;
                border-style: solid;
                font-size: .75rem;
            }
        }

        .date {
            color: $color-white-dark;
        }
    }

    hr {
        margin: 2.5em 0;
    }

    section {
        padding: .25em  0;
        margin: .5em .75em;

        h2 {
            margin: 0 .3em 0 0;
            color: $color-blue-light;
            span {
                color: $color-white-dark;
                font-size: 0.6em;
        
                display: block;
                //width: 1.5em;
                height: 1.5em;
                float: right;
                margin-left: 1em;
                padding-top: .5em;
            }
        }

        p {
            text-align: justify;
        }

        .img_wrapper{
            display: flex;

            img {
                margin: .5em auto;
                width: 90%;
            }
        }

        .codeOrTerminal {
            background-color: $color-black-medium;
            padding: 1em 1.5em;
            border: 1px solid $color-black-medium;
            border-radius: .75em;  
            position: relative;

            ul.buttons {
                position: absolute;
                display: flex;
                top: 0;
                right: 0;
                margin: 1em;
                padding: 0;
                list-style-type: none;
                flex-direction: column;
                width: auto;

                li {
                    margin-bottom: .5em;

                    a {
                        button {
                            background-color: $color-black-dark;
                            border-color: $color-black-dark;
                            border-radius: .75em;
                            border-width: 2px;
                            display: flex;
                            position: relative;
                            overflow: hidden;
                            padding: 0;
                            float: right;

                            transition: $buttons-animation;
                            width: 3em;
                            height: 3em;

                            .tooltip {
                                overflow: hidden;
                                display: flex;
                                margin: auto 0;

                                transition: $buttons-animation;
                                width: 0;

                                span {
                                    white-space: nowrap;
                                    font-family: sans-serif;
                                    color: $color-blue-dark;
                                    font-size: .75em;
                                    width: auto;
                                    margin: auto;
                                }
                            }

                            .icon {
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: 1.5em;
                                height: 2.5em;
                                width: 2.5em;
                                margin: auto;
                            }

                            &.copy .icon {
                                background-image: url("/img/icons/copy-white.png");
                            }

                            &.downloadCode .icon {
                                background-image: url("/img/icons/download-white.png");
                            }

                            &.seeRaw .icon {
                                background-image: url("/img/icons/raw-white.png");
                            }
                        }
                    }

                    &:hover {
                        a {
                            text-decoration: none;

                            button {
                                border-color: $color-blue-dark;
                                width: 100%;

                                .tooltip {
                                    width: 100%;
                                }

                                &.copy .icon {
                                    background-image: url("/img/icons/copy-blue.png");
                                }

                                &.downloadCode .icon {
                                    background-image: url("/img/icons/download-blue.png");
                                }

                                &.seeRaw .icon {
                                    background-image: url("/img/icons/raw-blue.png");
                                }
                            }
                        }
                    }
                }
            }

            table {
                display: block;
                overflow: auto;

                tbody {
                    tr {
                        td {
                            pre, code {
                                margin: 0;
                                font-size: 1.1em;
                                line-height: 1.5em;
                            }

                            &.linenos {
                                .linenodiv {
                                    border-right-color: $color-black-dark;
                                    border-right-width: 3px;
                                    border-right-style: solid;
                                    margin-right: .5em;
                                    padding-right: .5em;
                                }

                                pre {
                                    code {
                                        color: $color-blue-dark;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .textToCopy {
                display: none;
            }

            &.terminal {
                margin: 1em 3em;

                ul.buttons {
                    margin: .25em;
                    margin-right: .5em;
                }

                table tbody tr td.left pre code {
                    font-weight: bold;
                }
            }

            &.code {
                margin: 1em 0;
            }
        }

        .video {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 1em 0;

            video {
                width: 95%;
                margin: auto;
            }

            a.mirror {
                text-align: center;
            }
        }

        & > table {
            width: 100%;
            border-collapse: collapse;

            td, th {
                border-left: 1px solid $color-white-dark;
            }

            tbody > tr {
                & > td:first-child, th:first-child {
                    border-left: none;
                }
            }

            td {
                border-top: 1px solid $color-white-dark;
            }

            th {
                border-bottom: 1px solid $color-white-light;
            }
        }
    }

    .slideshow_wrapper {
        overflow: hidden;
        margin: .5em auto;
        width: 90%;

        &:hover .slideshow {
            animation-name: not-an-animation;
            animation-play-state: paused;
            display: grid;

            .image_wrapper {
                grid-column: 1;
                grid-row: 1;
                opacity: 0;
                z-index: 0;

                label {
                    opacity: 0.75;
                }
            }
        }

        .slideshow {
            width: 100%;
            display: ruby;
            position: relative;

            .image_wrapper {
                width: 100%;
                position: relative;
                transition: opacity 1.5s;

                img {
                    width: 100%;
                }
                
                label {
                    position: absolute;
                    width: 5rem;
                    height: 3rem;
                    bottom: 3%;
                    background-color: $color-black-dark;
                    cursor: pointer;
                    opacity: 0;
                    border-radius: .8rem;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 2rem;

                    &:hover {
                        opacity: 0.95;
                    }

                    &.left {
                        left: 35%;
                        background-image: url("/img/icons/left-arrow.png");
                    }

                    &.right {
                        right: 35%;
                        background-image: url("/img/icons/right-arrow.png");
                    }
                }
            }
        }

        input {
            display: none;
        }
    }

    .post-navbar-wrapper {
        display: none;
    }

    .bottomButtons {
        display: flex;
        flex-direction: column;
        height: 7.5em;

        a {
            color: $color-white-dark;
            margin: auto;
            background-color: $color-black-medium;
            padding: .5em .75em;
            border-radius: .5em;
            border-style: outset;
            border-color: $color-blue-dark;
            border-width: 2px;
            font-weight: normal;
        }

        span {
            color: $color-white-dark;
            margin: auto;
        }
    }
}


@media only screen and (min-width: 600px) {
    main {
        .post-details {
            padding: 3em;
            text-align: center;

            .lower-details {
                flex-direction: column-reverse;

                label.workInProgress {
                    margin: .25rem auto;
                }
            }
        }

        section {
            ul.doubleContents {
                display: flex;
                padding: 0;
                margin: 0;

                li {
                    width: 45%;
                    margin: 2.5%;
                    list-style-type: none;
                }
            }
        }

        .bottomButtons {
            flex-direction: row;
            height: auto;
            justify-content: space-between;

            a {
                border: none;
                background-color: transparent;
                margin: auto;
            }
        }
    }
}



@media only screen and (min-width: 1120px) {
    main {
        section {
            .video {
                video {
                    width: 85%;
                }
            }
        }
    }
}

@media only screen and (min-width: 1500px) {
    main {
        .post-navbar-wrapper {
            display: flex;
            position: absolute;
            top: 10.6rem;
            right: calc(100% + 3em);
            bottom: 0;
            left: calc(0px - (50vw - 560px));

            .post-navbar {
                position: sticky;
                top: 2rem;
                margin-left: auto;
                height: min-content;

                a.project {
                    color: $color-blue-medium;
                    font-weight: bold;
                    font-size: 1.25rem;
                }

                hr {
                    margin: 0 0 .25rem 0;
                }

                ul.posts {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;

                    li {
                        a {
                            color: $color-white-dark;
                            font-weight: normal;
                        }

                        &.current {
                            span {
                                color: $color-green;
                            }

                            ul {
                                list-style-type: none;
                                padding: 0;
                                margin: 0;
                                padding-left: 1.75rem;

                                li > a{
                                    color: $color-blue-light;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
