/* main background color & header current color */
/* header background */
/* hover color */
/* dark text color */
/* normal text color */
/* Project part of h1 in posts */
/* h2 title of Project overview */
/* Divider Part of h1 in posts */
/* Post-name part of h1 in posts */
main h1 {
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.25em;
}
main h1 .project {
  color: #569CD6;
  font-weight: bold;
}
main h1 .divider {
  color: #CE9178;
}
main h1 .blog {
  color: #4EC9B0;
}
main hr {
  margin: 2.5em 0;
}
main section {
  padding: 0.25em 0;
  margin: 0.5em 0.75em;
}
main section h2 {
  margin: 0 0.3em;
  color: #9CDCFE;
}
main section h2 span {
  color: #949494;
  font-size: 0.6em;
  display: block;
  height: 1.5em;
  float: right;
  margin-left: 1em;
  padding-top: 0.5em;
}
main section p {
  text-align: justify;
}
main section .img_wrapper {
  display: flex;
}
main section .img_wrapper img {
  margin: 0.5em auto;
  width: 90%;
}
main section .codeOrTerminal {
  background-color: #252526;
  padding: 1em 1.5em;
  border: 1px solid #252526;
  border-radius: 1.25em;
  position: relative;
}
main section .codeOrTerminal ul.buttons {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  margin: 1em;
  padding: 0;
  list-style-type: none;
  flex-direction: column;
  width: auto;
}
main section .codeOrTerminal ul.buttons li {
  margin-bottom: 0.5em;
}
main section .codeOrTerminal ul.buttons li a button {
  background-color: #1E1E1E;
  border-color: #1E1E1E;
  border-radius: 0.75em;
  border-width: 2px;
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 0;
  float: right;
  transition: width 0.3s ease-out 0.2s;
  width: 3em;
  height: 3em;
}
main section .codeOrTerminal ul.buttons li a button .tooltip {
  overflow: hidden;
  display: flex;
  margin: auto 0;
  transition: width 0.3s ease-out 0.2s;
  width: 0;
}
main section .codeOrTerminal ul.buttons li a button .tooltip span {
  white-space: nowrap;
  font-family: sans-serif;
  color: #1a52a0;
  font-size: 0.75em;
  width: auto;
  margin: auto;
}
main section .codeOrTerminal ul.buttons li a button .icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5em;
  height: 2.5em;
  width: 2.5em;
  margin: auto;
}
main section .codeOrTerminal ul.buttons li a button.copy .icon {
  background-image: url("/img/icons/copy-white.png");
}
main section .codeOrTerminal ul.buttons li a button.downloadCode .icon {
  background-image: url("/img/icons/download-white.png");
}
main section .codeOrTerminal ul.buttons li a button.seeRaw .icon {
  background-image: url("/img/icons/raw-white.png");
}
main section .codeOrTerminal ul.buttons li:hover a {
  text-decoration: none;
}
main section .codeOrTerminal ul.buttons li:hover a button {
  border-color: #1a52a0;
  width: 100%;
}
main section .codeOrTerminal ul.buttons li:hover a button .tooltip {
  width: 100%;
}
main section .codeOrTerminal ul.buttons li:hover a button.copy .icon {
  background-image: url("/img/icons/copy-blue.png");
}
main section .codeOrTerminal ul.buttons li:hover a button.downloadCode .icon {
  background-image: url("/img/icons/download-blue.png");
}
main section .codeOrTerminal ul.buttons li:hover a button.seeRaw .icon {
  background-image: url("/img/icons/raw-blue.png");
}
main section .codeOrTerminal table {
  display: block;
  overflow: auto;
}
main section .codeOrTerminal table tbody tr td pre, main section .codeOrTerminal table tbody tr td code {
  margin: 0;
  font-size: 1.1em;
  line-height: 1.5em;
}
main section .codeOrTerminal table tbody tr td.linenos .linenodiv {
  border-right-color: #1E1E1E;
  border-right-width: 3px;
  border-right-style: solid;
  margin-right: 0.5em;
  padding-right: 0.5em;
}
main section .codeOrTerminal table tbody tr td.linenos pre code {
  color: #1a52a0;
}
main section .codeOrTerminal .textToCopy {
  display: none;
}
main section .codeOrTerminal.terminal {
  margin: 1em 3em;
}
main section .codeOrTerminal.terminal ul.buttons {
  margin: 0.25em;
  margin-right: 0.5em;
}
main section .codeOrTerminal.terminal table tbody tr td.left pre code {
  font-weight: bold;
}
main section .codeOrTerminal.code {
  margin: 1em 0;
}
main section .doubleContents img {
  width: 90%;
  margin: 0.5em 5%;
}

@media only screen and (min-width: 600px) {
  main section .doubleContents {
    display: flex;
  }
  main section .doubleContents img {
    width: 45%;
    margin: 2.5%;
  }
  main section .doubleContents p {
    width: 45%;
    margin: 2.5%;
  }
}/*# sourceMappingURL=post.css.map */