$color-black-dark: #1E1E1E;   /* main background color & header current color */
$color-black-medium: #252526; /* header background */
$color-black-light: #2A2D2E;  /* hover color */

$color-white-dark: #949494;   /* dark text color */
$color-white-light: #D4D4D4;  /* normal text color */

$color-blue-dark: #1a52a0;
$color-blue-medium: #569CD6;  /* Project part of h1 in posts */
$color-blue-light: #9CDCFE;   /* h2 title of Project overview */

$color-orange: #CE9178;       /* Divider Part of h1 in posts */

$color-green: #4EC9B0;        /* Post-name part of h1 in posts */


.project-preview {
    display: inline-block;
    margin: .75em 0;
    min-height: 10em;
    position: relative;
    background: $color-black-medium;
    width: 100%;

    .description {
        max-width: calc(100% - 1em); // 1em is 2x padding
        min-height: 150px;
        margin: 0;
        padding: .5em;
        float: left;
        display: flex;
        flex-direction: column;

        h2 {
            color: $color-blue-medium;
            margin-bottom: .25em;
            margin-top: 0;
            font-weight: bold;
            display: flex;
            flex-wrap: wrap;

            span {
                margin: auto 0;
            }

            .labels {
                margin: auto 0 auto .5rem;

                label {
                    margin-left: .5rem;
                    padding: 0 .2rem;
                    border-radius: .85rem;
                    border-width: 2px;
                    border-style: solid;
                    font-size: .75rem;

                    &.new {
                        color: $color-orange;
                        border-color: $color-orange;
                    }

                    &.workInProgress {
                        color: $color-blue-dark;
                        border-color: $color-blue-dark;
                    }
                }
            }
            
        }

        p {
            color: $color-white-light;
            margin: 0;
            align-items: center;
        }

        .categories {
            margin-top: auto;
            display: flex;
            overflow: scroll;

            span {
                position: relative;
                color: $color-white-dark;
                padding: .1em .4em;
                margin: .2em;
                border-radius: .45em;
                background-color: $color-black-dark;
                font-size: .85em;
                white-space: nowrap;
            }
        }
    }
    .picture {
        display: none;
    }
}



@media only screen and (min-width: 600px) {
    main {
        display: block;
        width: 95%;
        margin: auto;

        .project-preview {
            margin-left: 0; margin-right: 0;
            border-radius: .75em;
            border-width: 2px;
            border-style: outset;
            border-color: $color-black-dark;
            min-height: unset;
            height: 10em;

            &:hover {
                border-color: $color-blue-dark;

                .picture {
                    opacity: .7;
                }
            }

            .description {
                max-width: 65%;
                padding: .5em;
            }

            .picture {
                display: flex;

                max-width: 45%;
                height: inherit;
                margin: 0;
                float: right;
                opacity: 1;
                transition: opacity 0.3s;

                img {
                    margin: auto 0;
                    width: auto;
                    height: 100%;
                    border-radius: 0 .5em .5em 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 1120px) {
    main {
        width: 100%;
    }
}
