$color-black-dark: #1E1E1E;   /* main background color & header current color */
$color-black-medium: #252526; /* header background */
$color-black-light: #2A2D2E;  /* hover color */

$color-white-dark: #949494;   /* dark text color */
$color-white-light: #D4D4D4;  /* normal text color */

$color-blue-dark: #1a52a0;
$color-blue-medium: #569CD6;  /* Project part of h1 in posts */
$color-blue-light: #9CDCFE;   /* h2 title of Project overview */

$color-orange: #CE9178;       /* Divider Part of h1 in posts */

$color-green: #4EC9B0;        /* Post-name part of h1 in posts */


main {
    ul.ip-details {
        list-style-type: none;
        display: block;
        padding: 0;

        li .container {
            color: $color-blue-dark;
            margin: 1em 0;
            padding: .5em;
            background-color: $color-black-medium;
            height: auto;
            position: relative;
            display: flex;
            white-space: nowrap;

            border-width: 1px;
            border-style: solid;
            border-color: $color-black-medium;

            .content {
                color: $color-white-light;
                margin-left: auto;
                text-align: right;
                white-space: normal;
            }
        }
    }
}


@media only screen and (min-width: 600px) {
    main {
        padding-top: .75em;
        
        ul.ip-details {
            margin: 0 5em;

            li {
                border-radius: .5em;
            }
        }
    }
}