include ../../../views/template/postTemplates.pug

+section("Introduction")
    p.
        The frame that holds everything together will be made out of a birch multiplex board. 
        It's stable enough and easy to work with. The holes for the steam Gauges will be drilled 
        either with the help of a CNC or drill bits with huge diameters.
    
+section("Cutting")

+section("Painting")



+post-navbar()