section
    h2 
        span 1
        | Introduction 
    
    p.
        Lorem <a href="#">ipsum</a> dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.


section
    h2 
        span 2
        | Project Revision 
    
    p.
        Nam faucibus mollis nulla, rutrum semper urna auctor vitae. Mauris in
        molestie diam. Fusce id consequat velit. Morbi accumsan nulla vitae
        enim efficitur, eget ornare nibh bibendum. Mauris eget lacinia lacus.
        Proin nec purus non sem faucibus feugiat id quis neque. Suspendisse
        sed lorem tincidunt, luctus ligula ac, sollicitudin ex. Phasellus
        justo dolor, laoreet vitae ante ut, rutrum ullamcorper risus. Sed
        commodo tincidunt luctus. Aenean elementum diam eu dictum pulvinar.

