ul
    li
        a(href="/donations/")= "DONATIONS"
        
    li
        a(href="https://github.com/jramrath/ramrath.me/" target="_blank" rel="noreferrer noopener")= "GITHUB"
    
    li 
        span &copy;2021-2022
