script.
    function copyFunc(id) {
        navigator.clipboard.writeText(document.getElementById(id).innerHTML);
    } 


mixin img(src, alt)
    .img_wrapper
        img(src=src, alt=alt)



mixin codeMixin(filename, rawFilename, num)
    pre.code 
        .buttons
            a.copy
                button(onclick="copyFunc(" + num + ")")

            a(href= filename).downloadCode
                button

            a(href= rawFilename).seeRaw
                button


        code(id= num)
            block
        

mixin terminalMixin(num)
    pre.terminal 
        a.copy
            button(onclick="copyFunc(" + num + ")")

        code(id= num)
            block