mixin codeMixin(filename)
    pre.code 
        a(href= filename).downloadCode
            button


        code
            block
        
        






mixin terminalMixin
    pre.terminal 
        code
            block